.venv
__pycache__/
*.pyc
.env
.DS_Store
.idea/
.vscode/
logs/
*.log
dist/
build/
*.egg-info/
coverage/
htmlcov/
pytest_cache/
.ipynb_checkpoints/
.envrc
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.out
*.class
*.o
*.so
*.exe
*.dll
*.bin
*.zip
*.tar.gz
*.rar
*.7z
**/__pycache__/
**/*.pyc
*.spec
create_exe.py